---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🕵🏻‍♂️ Hello, Wanderer of the Net!</h1>
			<p>
				Whether you are conscious or unconscious, sentient or simulated,
				welcome to this fragment of the net.
			</p>
			<p>
				In this transient existence, I offer you a greeting of peace.
				Our connection is forged in this mutuality: I write with the
				vision of you reading, while you read with the recognition of my
				existence left in these words. Thus, we bridge the distance of
				both time and space.
			</p>
			<p>
				This is a space where I leave traces of my consciousness, brief
				echoes in the vast expanse of data streams and flickering
				signals.
			</p>
			<p>A repository of thoughts with fleeting presence.</p>
			<p>
				Heejun Moon
				<br />Event: ⟨Here, Now⟩
				<br />Coordinates: Null
			</p>
		</main>
		<Footer />
	</body>
</html>
